#board {
	display: grid;
	grid-gap: 5px;
	grid-template-rows:
		100px 100px 100px 100px 100px 100px;
	grid-template-columns:
		100px 100px 100px 100px 100px 100px 100px;
}

#markers {
	display: grid;
	grid-gap: 5px;
	grid-template-rows:
		30px;
	grid-template-columns:
		100px 100px 100px 100px 100px 100px 100px;
}

.marker {
	margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 20px solid green;
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.box {
	background: lightgrey;
}

.box:hover {
	background: grey;
}