@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('res/Roboto-Regular.ttf');
	unicode-range: U+0370-03FF;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 20px;
}

#lobby {
	color: #025900;
}

#tooltip {
	color: #777777;
	font-style: italic;
}

#status {
	padding: 10px;
	width: 300px;
	border-radius: 10px;
    color: #9f6000;
    background-color: #feefb3;
}

.connection-input {
	width: 300px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}